.registerbox{
    padding-top:0%;
    margin-top:0%;
    padding-left: 2%;
    left:50%;
    width:30%;
    background:rgb(194, 157, 145);
    position:absoulte;
    transform: translate(+105%,+8%);
    box-sizing: border-box;
    border-radius: 4%;
    padding-bottom: 1%;
  }

  .registerbox h1{
      color: white;
      margin-top: 2%;
  }

  .registerbox input{
      border-left:2%;
      margin-left: 12%;
  }